name: Build MiSTer Core

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    # Run inside the container to save startup time and redundant file copies
    container:
      image: ghcr.io/raetro/quartus:mister

    steps:
      - name: Cleanup Disk Space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
          df -h # Just to verify how much space we cleared

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Fast Analysis
        # If this passes in ~60s, we know the code is valid
        run: quartus_map MySoundToy

      - name: Full Compile
        # Only runs if synthesis is successful
        run: quartus_sh --flow compile MySoundToy

      - name: Upload RBF
        uses: actions/upload-artifact@v4
        with:
          name: MiSTer_SoundToy_Core
          path: output_files/*.rbf
